PersistenciaService/.vs/PersistenciaService/FileContentIndex/ed92ef1d-538b-41c2-bb07-fe4ba8d0a4da.vsidx
PersistenciaService/.vs/PersistenciaService/FileContentIndex/8b73a8ec-5620-4b80-bfcd-e7f82d244c2d.vsidx
PersistenciaService/.vs/PersistenciaService/FileContentIndex/84001aa2-0b72-41f6-b93f-87b0293be575.vsidx
PersistenciaService/.vs/PersistenciaService/FileContentIndex/4d215e28-4921-45ed-9d0c-f49eb39b72e1.vsidx
PersistenciaService/.vs/PersistenciaService/FileContentIndex/492e9004-e116-4c7a-be39-c57db0103474.vsidx
CadastroService/.vs/CadastroService/FileContentIndex/b4c0d5c8-3da0-4193-9967-23036f852336.vsidx
CadastroService/.vs/CadastroService/FileContentIndex/40bb7dca-c44c-4b46-a861-dea2392ab20a.vsidx
CadastroService/.vs/CadastroService/FileContentIndex/32799d51-c7f8-469c-b5c6-8632bf2384e4.vsidx
CadastroService/.vs/CadastroService/FileContentIndex/1c54577d-7a2f-4f9e-b11b-2626354f5e02.vsidx
CadastroService/.vs/CadastroService/FileContentIndex/05316a20-1712-43b3-936c-c39d9c8c8220.vsidx
